@tailwind base;

@layer base {
  :root {
    --background: 230 46% 98%;
    --foreground: 230 46% 10%;
    --card: 230 46% 100%;
    --card-foreground: 230 46% 10%;
    --popover: 230 46% 100%;
    --popover-foreground: 230 46% 10%;
    --primary: 230 46% 34%;
    --primary-foreground: 230 46% 98%;
    --secondary: 260 46% 80%;
    --secondary-foreground: 260 46% 10%;
    --muted: 230 23% 90%;
    --muted-foreground: 230 46% 40%;
    --accent: 290 46% 60%;
    --accent-foreground: 290 46% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 98%;
    --border: 230 46% 85%;
    --input: 230 46% 85%;
    --ring: 230 46% 34%;
    --radius: 0.25rem;
  }
  @font-face {
    font-family: 'Share';
    src: url('/fonts/Share-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Share';
    src: url('/fonts/Share-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Share';
    src: url('/fonts/Share-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Share';
    src: url('/fonts/Share-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'ShareTechMono';
    src: url('/fonts/ShareTechMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Custom styles for prose elements */
  .post > h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .post > h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  .post > h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  .post > h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .post > h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }
  .post > h6 {
    @apply scroll-m-20 font-semibold tracking-tight;
  }
  .post > p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  .post > blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  .post > table {
    @apply my-6;
    tr {
      @apply even:bg-muted m-0 border-t p-0;
    }
    th {
      @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    td {
      @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
  }
  .post > ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  .post > ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2 [&>li]:marker:font-semibold;
  }
  .post > code {
    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  .post > small {
    @apply text-sm font-medium leading-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer base {
}
