@tailwind base;

@layer base {
  :root {
    /** Shadcn Color Variables */
    --background: 72 50% 96%; /* #F8FAF0 */
    --foreground: 100 12% 10%; /* #191D17 */
    --card: 83 19% 87%; /* #DFE4D7 */
    --card-foreground: 93 7% 26%; /* #43483F */
    --popover: 96 38% 85%; /* #D7E8CC */
    --popover-foreground: 106 38% 9%; /* #121F0E */
    --primary: 105 33% 31%; /* #416834 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 100 12% 34%; /* #54624D */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 102 67% 81%; /* #C2EFAE */
    --muted-foreground: 115 100% 6%; /* #032100 */
    --accent: 36 76% 29%; /* #815512 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 100% 30%; /* #BA1A1A */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 94 5% 45%; /* #73796E */
    --input: 85 10% 76%; /* #C3C8BC */
    --ring: 34 88% 70%; /* #F6BC70 */

    --c-background: hsl(var(--background));
    --c-foreground: hsl(var(--foreground));
    --c-card: hsl(var(--card));
    --c-card-foreground: hsl(var(--card-foreground));
    --c-popover: hsl(var(--popover));
    --c-popover-foreground: hsl(var(--popover-foreground));
    --c-primary: hsl(var(--primary));
    --c-primary-foreground: hsl(var(--primary-foreground));
    --c-secondary: hsl(var(--secondary));
    --c-secondary-foreground: hsl(var(--secondary-foreground));
    --c-muted: hsl(var(--muted));
    --c-muted-foreground: hsl(var(--muted-foreground));
    --c-accent: hsl(var(--accent));
    --c-accent-foreground: hsl(var(--accent-foreground));
    --c-destructive: hsl(var(--destructive));
    --c-destructive-foreground: hsl(var(--destructive-foreground));
    --c-border: hsl(var(--border));
    --c-input: hsl(var(--input));
    --c-ring: hsl(var(--ring));

    --radius: 0.25rem;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSans';
    src: url('/fonts/NotoSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'NotoSansMono';
    src: url('/fonts/NotoSansMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-muted selection:text-muted-foreground;
  }

  /* Custom canvas style */
  .canvas-outer {
    @apply px-2;
  }
  .canvas-inner {
    @apply mx-auto w-full max-w-screen-md;
  }

  /* Custom backgrounds */
  .bg-stripes-diagonal {
    @apply bg-[image:repeating-linear-gradient(315deg,_hsl(_var(--border))_0,_hsl(_var(--border))_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px];
  }

  .bg-dotted {
    @apply [background-image:radial-gradient(hsl(_var(--border)/30%)_1px,transparent_1px)] [background-size:16px_16px];
  }
}

@tailwind components;
@tailwind utilities;
